@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans&display=swap');

* {
  font-family: 'Bitter', serif;
  --background-color: #ffffff;
  --detail-color: #923A56;
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --shadow-color: #9b8989;
}

body {
  color: var(--text-color-dark);
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

a:hover, a:active {
  color: var(--detail-color);
}

/* ==========
    RESET 
========== */

div, span, h1, h2, h3, p, ul, li, img, a, i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

/* ==========
    BODY
========== */

body {
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bg-decor {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: clamp(650px, 50vh, 750px);
  background-color: var(--detail-color);
  transform: skewY(-12deg);
  top: -250px;
  box-shadow: -3px 1px 4px var(--shadow-color);
  z-index: -1;
}

/* ==========
    ABOUT
========== */

.top {
  /* display: grid;
  grid-template-columns: clamp(250px, 30%, 300px) auto; */
  margin: 40px 10vw;
}

h1 {
  /* grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  justify-self: end;
  align-self: end; */
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  color: var(--text-color-light);
  text-shadow: 1px 1px 3px var(--shadow-color);
}

.top picture {
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
}

.top img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.about {
  /* margin: 40px 0px; */
  background-color: var(--background-color);
  box-shadow: 1px 1px 8px var(--shadow-color);
  /* padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.about>h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 32px;
}

.about>p {
  line-height: 1.5em;
}

.about>ul {
  margin-top: 15px;
  align-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}

.about i {
  font-size: 32px;
}

/* ==========
  PROJECTS
========== */

.projects {
  margin: 80px 5vw;
}

.projects>h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 32px;
  margin: 10px 0px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.card {
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-columns: auto min-content;
  grid-template-areas:
  "image image"
  "title links"
  "description description";
  row-gap: 15px;
  box-shadow: 1px 1px 4px var(--shadow-color);
}

.card>img {
  grid-area: image;
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}

.card>h3 {
  grid-area: title;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  margin-left: 15px;
}

.card>ul {
  grid-area: links;
  align-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  margin-right: 15px;
}

.card>ul i {
  font-size: 28px;
}

.card>ul svg {
  width: 30px;
  height: auto;
}

.card>p {
  grid-area: description;
  margin: 15px;
}

/* ==========
   FOOTER
========== */

footer {
  background-color: var(--detail-color);
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: clamp(250px, 35vw, 400px) clamp(300px, 40vw, 500px);  
  align-items: center;
  justify-content: space-around;
  padding: 60px 0px;
}

.contact {
  color: var(--text-color-light);
  display: grid;
  row-gap: 15px;
}

.contact>h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 32px;
}

.contact>ul.contact-info {
  display: grid;
  row-gap: 5px;
}

.contact>ul.contact-info li {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  grid-template-columns: min-content auto;
  align-items: center;
}

.contact>ul.contact-info svg {
  width: 30px;
  height: auto;
}

.contact>ul.links {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 20px;
}

.contact>ul.links i {
  font-size: 30px;
  color: var(--text-color-light);
}

.contact>ul.links i:hover, .contact>ul.links i:active {
  color: var(--text-color-dark);
}

footer>img {
  
  width: 100%;
  height: auto;
}

/* ==========
    MEDIA
========== */

@media screen and (max-width: 599px) {
  .top {
    grid-template-columns: auto;
  }

  .about {
    border: none;
    box-shadow: none;
    padding: 40px 0px;
  }

  footer {
    grid-auto-flow: row;
    grid-template-columns: auto;
    padding: 0;
  }

  .contact {
    margin: 60px 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  .top {
    display: inline-block;
    
  }

  h1 {
    position: relative;
    text-align: end;
    margin-right: 40px;
    z-index: 1;
  }

  .about {
    display: inline-block;
  }

  .about>h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    margin: 20px 0px;
  }

  .about>p {
    text-align: justify;
    font-size: 22px;
    margin: 20px 40px;
  }

  .about>ul {
    margin: 20px 40px;
    justify-content: end;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;

  }

  .top picture {
    float: left;
    position: relative;
    top: -30px;
    left: -30px; 
  }

  .top img {
    width: clamp(200px, 40vw, 400px);  
  }

  footer {
    grid-template-columns: clamp(250px, 35vw, 400px) clamp(300px, 50vw, 600px);
  }
}