@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans&display=swap');

* {
  font-family: 'Bitter', serif;
  --background-color: #ffffff;
  --detail-color: #923A56;
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --shadow-color: #9b8989;
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

a:hover, a:active {
  color: var(--detail-color);
}

/* ==========
    RESET 
========== */

div, span, h1, h2, h3, p, ul, li, img, a, i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

/* ==========
    BODY
========== */

body {
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bg-decor {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: clamp(650px, 50vh, 750px);
  background-color: var(--detail-color);
  transform: skewY(-12deg);
  top: -250px;
  box-shadow: -3px 1px 4px var(--shadow-color);
  z-index: -1;
}
